<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="wsSapZCML_PABIERTAS2_V4">
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpTransport authenticationScheme="Basic" />
                </binding>
                <binding name="wsSapZCMLMF_WF_SOLCARTERA_V8">
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpTransport authenticationScheme="Basic" />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://decce03qas.patrimonio.com.mx:8000/sap/bc/srt/rfc/sap/zcml_pabiertas2_v4/200/zcml_pabiertas2_v4/zcml_pabiertas2_v4"
                binding="customBinding" bindingConfiguration="wsSapZCML_PABIERTAS2_V4"
                contract="wsPabierta.zcml_pabiertas2_v4" name="ZCML_PABIERTAS2_V4" />
            <endpoint address="http://ddb2b01d:8000/sap/bc/srt/rfc/sap/zcmlmf_wf_solcartera_v8/100/zcmlmf_wf_solcartera_v8/zcmlmf_wf_solcartera_v8"
                binding="customBinding" bindingConfiguration="wsSapZCMLMF_WF_SOLCARTERA_V8"
                contract="wsSolcartera.ZCMLMF_WF_SOLCARTERA_V8" name="ZCMLMF_WF_SOLCARTERA_V8" />
        </client>
    </system.serviceModel>
</configuration>